@font-face{
    font-family:fontello;
    src:url('../font/fontello.woff2') format('woff2'),
        url('../font/fontello.woff') format('woff');
    font-weight:normal;font-style:normal
}

.spring{flex:1 1}
body{margin:0;font-family:'Segoe UI';font-size:16px}
.Container{}
.Container>.Content{max-width:1280px;margin:0 auto;padding:0 10px}

/* ==  == */
.master-header{font-size:20px;line-height:2em;background-color:#1c1c1c;color:#55b3ff}
.master-header>.Content{display:flex}
.master-header>.Content>.title{color:#55b3ff;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;text-decoration:none}
.master-header>.Content>.links{display:flex}
.master-header>.Content>.links>.link{padding:0 10px;text-decoration:none}
.master-header>.Content>.links>.link>.icon{font-family:fontello;color:#55b3ff}
.master-header>.Content>.links>.link:hover{background:rgba(255,255,255,.2)}